{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>Please Login </h1>

    <form action="{{ path('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />
            {#<a href="{{ url('user_new') }}">Sign up for an account</a>#}
        <p>
        <button type="submit">login</button>
    </form>
{% endblock %}
